
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="section-title">Sobre mí</h3>
                    <p>Después de 30 años en trabajos administrativos, estoy totalmente inmersa en mi formación como desarrolladora. <br><span><a href="about.html">Leer más...</a></span><br><span><a href="images/CV.pdf#page=1" target="_blank" class="btn-info" style="padding: 5px 15px; float:left; color:aliceblue">Descargar CV</a></span></p><br>
                </div>
                
                <div class="col-md-3 col-md-push-1">
                    <h3 class="section-title">Enlaces</h3>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="work.html">Proyectos</a></li>
                        <li><a href="about.html">Sobre mí</a></li>
                        <li><a href="blog.html">Blog</a></li>								
                        <!--<li><a href="contact.html">Contacto</a></li> -->
                    </ul>
                </div>

                <div class="col-md-3">
                    <h3 class="section-title">Información</h3>
                    <ul>
                        <li><a href="#">Política de cookies</a></li>								
                        <li><a href="#">Política de privacidad</a></li>
                        <!-- <li><a href="contact.html">Contacta conmigo</a></li> -->
                    </ul>
                </div>
                
                <div class="col-md-3">
                    
                    <h3 class="section-title">Contacta conmigo</h3>                   
                    
                        <div class="row">
                            <div class="col-md-12 col-md-offset-0">
                                <div class="form-group">
                                    <!-- Honeypot anti-spam -->
                                    <div class="honeypot" aria-hidden="true">
                                        <label for="website">No rellenar este campo</label>
                                        <input
                                            type="text"
                                            name="website"
                                            id="website"
                                            tabindex="-1"
                                            autocomplete="off">
                                    </div>
                                    <input type="text" class="form-control" placeholder="Asunto" name="subject" id="subject" required>
                                    <textarea name="message" class="form-control" id="comment" cols="30" rows="3" placeholder="Mensaje" required></textarea>
                                    <button type="button" class="btn btn-default" onclick="sendMail();"><i class="icon-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>
                    
                </div>
                
            </div>
            <div class="row copy-right">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icon">
                        <a href="https://twitter.com/@anabarbera90" target="_blank"><i class="icon-twitter2"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100093535419467" target="_blank"><i class="icon-facebook2"></i></a>
                        <a href="https://www.instagram.com/anabarbera90/" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>
                    <p>Copyright 2023 <a href="#">Ana Barberá</a>. Todos los derechos reservados. <br>Diseñado <i class="icon-heart3"></i> por <a href="#" target="_blank">Ana Barberá | </a><a href="#" target="_blank">Imágenes: Freepick</a></p>
                </div>
            </div>
        </div>
    </div>